/* Banner Section Start */

.khoomi__banner-wrapper {
  background-image: url("../images/slider/banner-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 584px;
}

.khoomi__banner-content {
  max-width: 572px;
  width: 100%;
  padding-top: 105px;
}

.khoomi__banner-slogan {
  font-family: "Poppins";
  font-size: 54px;
  font-weight: 500;
  line-height: 72px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: -3px;
}

.khoomi__banner-text {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  line-height: 32px;
  color: #fff;
  margin-bottom: 1.5rem;
}

.btn-buy {
  min-width: 137px;
  display: inline-block;
  background-color: #ff4f04;
  color: #fff;
  border-radius: 6px;
  padding: 13px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 24px;
}

.btn-buy:hover {
  background-color: rgba(255, 79, 4, 0.8);
  color: #fff;
}

.btn-dark {
  min-width: 224px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 13px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 24px;
  margin-left: 15px;
}

.btn-dark:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #111111;
}

/* Product Recommended Section Start */
.khoomi__features-wrapper {
  padding: 50px 0;
  position: relative;
  background-color: #fff;
}

.khoomi__features-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: #f8f8f8;
  z-index: 1;
}

.container-features {
  position: relative;
  z-index: 2;
}

.khoomi__features-text {
  text-align: center;
  color: #302f2f;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  padding-top: 52px;
}

.khoomi__features-title {
  color: #111111;
  font-size: 25px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
}

.khoomi__features-box-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.khoomi__cmn-feature-box {
  max-width: 270px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.khoomi__cmn-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.khoomi__cmn-img-title {
  padding-top: 17px;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 30px;
  color: #111111;
  padding-bottom: 15px;
}

.btn-orange {
  background-color: rgba(255, 79, 4, 0.1);
}

.btn-white {
  background-color: #fff;
}

.btn-price {
  border-radius: 15px;
  padding: 6px;
  text-decoration: none;
  text-align: center;
  color: #ff4f04;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  min-width: 56px;
}

.btn-price:hover {
  background-color: rgba(255, 79, 4, 0.8);
  color: #fff;
}

.btn-product {
  min-width: 224px;
  display: inline-block;
  padding: 17px;
  border: 1px solid #707070;
  background-color: #fff;
  color: #302f2f;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  border-radius: 6px;
  text-decoration: none;
}

.btn-product:hover {
  background-color: #f5f5f5;
  color: #302f2f;
  border-color: #f5f5f5;
}

.khoomi__features-btn-warpper {
  padding-top: 45px;
  text-align: center;
}

.khoomi__banner-offer-wrapper {
  position: relative;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 251px;
}

.khoomi__banner-offer-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.57);
}

.khoomi__banner-info {
  max-width: 521px;
  width: 100%;
}

.khoomi__banner-info-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.khoomi__banner-info span {
  font-family: "Poppins";
  font-size: 35px;
  font-weight: 500;
  line-height: 56px;
  color: #fff;
  position: relative;
  letter-spacing: -2px;
}

.btn-shopping {
  min-width: 224px;
  display: inline-block;
  border: 1px solid #fff;
  padding: 18px;
  color: #fff;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  position: relative;
}

.btn-shopping:hover {
  background-color: #fff;
  color: #111111;
}

.khoomi__new-collection-wrapper {
  padding: 80px 0;
}

.khoomi__collection-text {
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #302f2f;
}

.khoomi__collection-heading {
  text-align: center;
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 500;
  line-height: 56px;
  text-transform: uppercase;
  color: #111111;
  letter-spacing: -1px;
}

.khoomi__collection-product-wrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  margin: 0 -15px;
}

.khoomi__collection-product-col {
  display: flex;
  padding-bottom: 42px;
  width: 50%;
}

.khoomi__collection-cmn-box {
  min-width: 255px;
  height: 313px;
  background-color: #f5f5f5;
  border-radius: 6px;
  overflow: hidden;
  margin: 0 15px;
  margin-bottom: 42px;
}

.khoomi__collection-right-cmn-box {
  min-width: 540px;
  height: 670px;
  background-color: #f5f5f5;
  border-radius: 6px;
  overflow: hidden;
  margin: 0 15px;
}

.khoomi__collection-right-img img {
  width: 531px;
  height: 500px;
  object-fit: contain;
  object-position: center;
}

.khoomi__collection-btn-wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-sale {
  background-color: #111111;
  min-width: 98px;
  display: inline-block;
  border-radius: 15px;
  padding: 6px 0;
  color: #fff;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  letter-spacing: -1px;
}

.khoomi__offer-product-details {
  padding: 20px;
}

.khoomi__offer-product-title {
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 500;
  line-height: 32px;
  color: #111111;
  margin-bottom: 8px;
}

.khoomi__offer-brand {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
  line-height: 32px;
  color: #7a7a7a;
}

.khoomi__collection-pro-img img {
  width: 214px;
  object-fit: contain;
  object-position: center;
}

.khoomi__collection-product-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.khoomi__collection-product-title {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #111111;
}

.khoomi__top-product-wrapper {
  padding-top: 120px;
  padding-bottom: 160px;
  text-align: center;
}

.khoomi__top-product-text {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.khoomi__top-product-title {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 56px;
  text-transform: uppercase;
  color: #111111;
}

.khoomi__top-products-wrapper {
  padding-top: 40px;
}

.khoomi__top-products-col {
  display: flex;
  max-width: 1208px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 65px;
}

.khoomi__top-cmn-box-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.khoomi__top-products-cmn-box {
  max-width: 269px;
  height: 269px;
  background-color: #f5f5f5;
  border-radius: 6px;
  overflow: hidden;
}

.khoomi__top-product-img img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.khoomi__product-content-wrapper {
  max-width: 269px;
  padding-top: 1rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.khoomi__top-pro-name {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
